<!doctype html>
<html class="no-js" lang="en" ng-app="myApp">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rock Paradise</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/RockPasadise.ico">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

    
    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body ng-controller="mainCtrl">
    <div class="off_canvars_overlay">
                
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        <div class="welcome_text">
                            <p>Free shipping on all domestic orders with coupon code <span>“Welcome to Aptech”</span></p>
                        </div>
                        
                        <div class="top_right text-right">
                            <ul>
                               <li class="top_links"><a href="#">My Account <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="checkout.html">Checkout </a></li>
                                        <li><a href="my-account.html">My Account </a></li>
                                        <li><a href="#!cart">Shopping Cart</a></li>
                                        <li><a href="#!wish">Wishlist ({{wish.length}})</a></li>
                                    </ul>
                                </li> 
                            </ul>
                            
                        </div> 
                        <div class="home_contact">
                            <div class="contact_box">
                                <label>Location</label>
                                <p>275 Nguyen Van Dau, Binh Thanh District</p>
                                <p>Ho Chi Minh City</p>
                            </div>
                            <div class="contact_box">
                                <label>Call free</label>
                                <p><a href="tel:0123456789">0123456789</a></p>
                            </div>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children">
                                    <a href="#!/" ng-class="{ active123: activePath=='/' }">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#!shopAll" ng-class="{ active123: activePath=='/shopAll' }">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#!Crystals" ng-class="{ active123: activePath=='/Crystals' }">Crystals</a>
                                            <ul class="sub-menu">
                                                <li><a href="#!Diamonds" ng-class="{ active123: activePath=='/Diamonds' }">Diamond</a></li>
                                                <li><a href="#!Quartz" ng-class="{ active123: activePath=='/Quartz' }">Quartz</a></li>
                                                <li><a href="#!Ruby" ng-class="{ active123: activePath=='/Ruby' }">Ruby</a></li>
                                                <li><a href="#!Sapphire" ng-class="{ active123: activePath=='/Sapphire' }"> Sapphire</a></li>
                                                <li><a href="#!Emerald" ng-class="{ active123: activePath=='/Emerald' }">Emerald</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#!Jewelry" ng-class="{ active123: activePath=='/Jewelry' }">Jewelry</a>
                                                <ul class="sub-menu">
                                                    <li><a href="#!Necklace" ng-class="{ active123: activePath=='/Necklace' }">Necklaces</a></li>
                                                    <li><a href="#!Ring" ng-class="{ active123: activePath=='/Ring' }">Rings</a></li>
                                                    <li><a href="#!Earrings" ng-class="{ active123: activePath=='/Earrings' }">Earrings</a></li>
                                                </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a >Hot <img src="/assets/img/icon/gach-mosaic-ho-boi.gif" alt="" width="25px" height="25px"></a>
                                                <ul class="sub-menu">
                                                    <li><a href="#!newproduct" ng-class="{ active123: activePath=='/newproduct' }">New products</a></li>
                                                    <li><a href="#!saleoff" ng-class="{ active123: activePath=='/saleoff' }">Sale Off</a></li>
                                                </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#!topsell" ng-class="{ active123: activePath=='/topsell' }">Top Selling</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#!cart" >Shopping Cart</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#!blog" ng-class="{ active123: activePath=='/blog' }">blog</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#!pages" ng-class="{ active123: activePath=='/pages' }">pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="#!about" ng-class="{ active123: activePath=='/about' }">About Us</a></li>
                                            <li><a href="#!fqa">FQA</a></li>
                                            <li><a href="#!contact">Contact</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="#!wish">Wishlist ({{wish.length}})</a></li>
                                            <li><a href="#!compare">Compare ({{compare.length}})</a></li>
                                            <li><a href="coming-soon.html">Coming soon</a></li>
                                            <li><a href="#!gallery">Gallery</a></li>
                                        </ul>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> Email: Project-Gr4@aptech.com</a></span>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Main Wrapper Start -->
     <!--header area start-->
    <header class="header_area">
        <!--header top start-->
        <div class="header_top">
            <div class="container">   
                <div class="row align-items-center">

                    <div class="col-lg-7 col-md-12">
                        <div class="welcome_text">
                           <p>Free shipping on all domestic orders with coupon code <span>“Welcome to Aptech”</span></p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="top_right text-right">
                            <ul>
                               <li class="top_links"><a href="#">My Account <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="#!checkout">Checkout </a></li>
                                        <li><a href="my-account.html">My Account </a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="#!wish">Wishlist ({{wish.length}})</a></li>
                                    </ul>
                                </li> 
                                <li ><i class="fa fa-user"></i><i id="CounterVisitor"> </i> <span style="color: #c09578; font-style: italic;">Visitors</span><div class="fa-user1" ></div></li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->

        <!--header middel start-->
        <div class="header_middel">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-lg-5">
                        <div class="home_contact">
                            <div class="contact_box">
                                <label>Location</label>
                                <p>275 Nguyen Van Dau, Binh Thanh District</p>
                                <p>Ho Chi Minh City</p>
                            </div>
                            <div class="contact_box">
                                <label>Call free</label>
                                <p><a href="tel:0123456789">0123456789</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="logo">
                            <a href="index.html"><img src="/assets/img/logo/rock paradise.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7 col-6">
                        <div class="middel_right">
                            <div class="search_btn">
                                <a href="#!shopAll"><i class="ion-ios-search-strong"></i></a>
                                <div class="dropdown_search">
                                    <form action="#!shopAll" ng-submit="submit()">
                                        <input placeholder="Search product..." type="text" ng-model="txtsearch">
                                        <button type="submit" value="Submit"><i class="ion-ios-search-strong"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="cart_link">
                                <a ><i class="ion-android-cart"></i></i></a>
                                <span class="cart_quantity">{{countArr}}</span>
                                <!--mini cart-->
                                 <div class="mini_cart">
                                    <div class="cart_close">
                                        <div class="cart_text">
                                            <h3>cart</h3>
                                        </div>
                                        <div class="mini_cart_close">
                                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart_item" ng-repeat="c in cart">
                                       <div class="cart_img">
                                           <a href="#!product-details/{{c.id}}"><img ng-src="{{c.img1}}" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="#!product-details/{{c.id}}">{{c.name}}</a>

                                            <span class="quantity">Qty: {{c.count}}</span>
                                            <span class="price_cart">{{c.price| currency:'$':0}}</span>

                                        </div>
                                        <div class="cart_remove">
                                            <a href="" ng-click="removeItemCart(c)"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart_total">
                                        <span>Subtotal:</span>
                                        <span value=""></span>
                                    </div> 
                                    <div class="mini_cart_footer">
                                       <div class="cart_button view_cart">
                                            <a href="#!cart">View cart</a>
                                        </div>
                                        <div class="cart_button checkout">
                                            <a class="active" href="#!checkout">Checkout</a>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main_menu_inner">
                           <div class="logo_sticky">
                               <a href="index.html"><img src="/assets/img/logo/rock paradise black.png " alt="Rock Paradise" width="70px" height="70px"></a>
                           </div>
                            <div class="main_menu"> 
                                <nav >  
                                    <ul>
                                        
                                        <li ><a href="#/!" ng-class="{ active123: activePath=='/' }">Home</i></a>
                                        </li>
                                        <li><a href="#!shopAll" ng-class="{ active123: activePath=='/shopAll' }">shop <i class="fa fa-angle-down"></i></a>
                                            <ul class="mega_menu">
                                                <li>
                                                    <a href="#!Crystals" ng-class="{ active123: activePath=='/Crystals' }">Crystals</a>
                                                    <ul>
                                                        <li><a href="#!Diamonds" ng-class="{ active123: activePath=='/Diamonds' }">Diamond</a></li>
                                                        <li><a href="#!Quartz" ng-class="{ active123: activePath=='/Quartz' }">Quartz</a></li>
                                                        <li><a href="#!Ruby" ng-class="{ active123: activePath=='/Ruby' }">Ruby</a></li>
                                                        <li><a href="#!Sapphire" ng-class="{ active123: activePath=='/Sapphire' }"> Sapphire</a></li>
                                                        <li><a href="#!Emerald" ng-class="{ active123: activePath=='/Emerald' }">Emerald</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#!Jewelry" ng-class="{ active123: activePath=='/Jewelry' }">Jewelry</a>
                                                    <ul>
                                                        <li><a href="#!Necklace" ng-class="{ active123: activePath=='/Necklace' }">Necklaces</a></li>
                                                        <li><a href="#!Ring" ng-class="{ active123: activePath=='/Ring' }">Rings</a></li>
                                                        <li><a href="#!Earrings" ng-class="{ active123: activePath=='/Earrings' }">Earrings</a></li>
                                                    </ul>
                                                </li>
                                                <li ><a >Hot <img src="/assets/img/icon/gach-mosaic-ho-boi.gif" alt="" width="25px" height="25px"></a>
                                                    <ul>
                                                        <li><a href="#!newproduct" ng-class="{ active123: activePath=='/newproduct' }">New products</a></li>
                                                        <li><a href="#!saleoff" ng-class="{ active123: activePath=='/saleoff' }">Sale Off</a></li>
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="#!topsell" ng-class="{ active123: activePath=='/topsell' }">Top Selling</a></li>
                                        <li><a href="#!cart" ng-class="{ active123: activePath=='/cart' }">Shopping Cart</a></li>
                                        </li>
                                        <li><a href="#!blog" ng-class="{ active123: activePath=='/blog' }">blog <i class="fa"></i></a>
                                        <li><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="#!about" ng-class="{ active123: activePath=='/about' }">About Us</a></li>
                                                <li><a href="#!fqa">FQA</a></li>
                                                <li><a href="#!contact">Contact</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="#!wish">Wishlist ({{wish.length}})</a></li>
                                                <li><a href="#!compare">Compare ({{compare.length}})</a></li>
                                                <li><a href="coming-soon.html">Coming soon</a></li>
                                                <li><a href="#!gallery">Gallery</a></li>
                                            </ul>
                                        </li>
                                    </ul>  
                                </nav> 
                            </div>
                            <div class="logo_sticky">
                                <div class="middel_right" style="margin-left: 40px;">
                                    <div class="search_btn">
                                        <a href="#!shopAll"><i class="ion-ios-search-strong"></i></a>
                                        <div class="dropdown_search">
                                            <form action="#!shopAll" ng-submit="submit()">
                                                <input placeholder="Search product..." type="text" ng-model="txtsearch">
                                                <button type="submit" value="Submit"><i class="ion-ios-search-strong"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="cart_link">
                                        <a ><i class="ion-android-cart"></i></i></a>
                                        
                                        <span class="cart_quantity">{{countArr}}</span>
                                        <!--mini cart-->
                                         <div class="mini_cart">
                                            <div class="cart_close">
                                                <div class="cart_text">
                                                    <h3>cart</h3>
                                                </div>
                                                <div class="mini_cart_close">
                                                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                                </div>
                                            </div>
                                            <div class="cart_item" ng-repeat="c in cart">
                                                <div class="cart_img">
                                                    <a href="#!product-details/{{c.id}}"><img ng-src="{{c.img1}}" alt=""></a>
                                                </div>
                                                 <div class="cart_info">
                                                     <a href="#!product-details/{{c.id}}">{{c.name}}</a>
         
                                                     <span class="quantity">Qty: {{c.count}}</span>
                                                     <span class="price_cart">{{c.price| currency:'$':0}}</span>
         
                                                 </div>
                                                 <div class="cart_remove">
                                                     <a href="" ng-click="removeItemCart(c)"><i class="ion-android-close"></i></a>
                                                 </div>
                                             </div>
                                             <div class="cart_total">
                                                 <span>Subtotal:</span>
                                                 <span value=""></span>
                                             </div> 
                                             <div class="mini_cart_footer">
                                                <div class="cart_button view_cart">
                                                     <a href="#!cart">View cart</a>
                                                 </div>
                                                 <div class="cart_button checkout">
                                                     <a class="active" href="#!checkout">Checkout</a>
                                                 </div>
                                                
                                            </div>
                                            
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                   
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->

        <div ng-view></div>
    
     
     <!--Newsletter area start-->
    <div class="newsletter_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter_content">
                        <h2>Our Newsletter</h2>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter" >
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Email address..." />
                                <button id="mc-submit">Subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Newsletter area start-->
    
    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">  
            <div class="footer_top">
                <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="widgets_container contact_us">
                                <h3>About Rock Pasadise</h3>
                                <div class="footer_contact">
                                    <p>Address: 275 Nguyen Van Dau, Binh Thanh District</p>
                                    <p>Phone: <a href="tel:0123456789">0123456789</a></p>
                                    <p>Email: Project-Gr4@aptech.com</p>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-rss"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>

                                        <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-4 col-6">
                            <div class="widgets_container widget_menu">
                                <h3>Information</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="#!about" ng-class="{ active123: activePath=='/about' }">About Us</a></li>
                                        <li><a href="#!blog" ng-class="{ active123: activePath=='/blog' }">Blog</a></li>
                                        <li><a href="#!contact">Contact</a></li>
                                        <li><a href="coming-soon.html">Coming soon</a></li>
                                        <li><a href="#!gallery">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-5 col-6">
                            <div class="widgets_container widget_menu">
                                <h3>My Account</h3>
                                <div class="footer_menu">
                                    <ul>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="#!contact">Contact</a></li>
                                        <li><a href="#!wish">Wishlist ({{wish.length}})</a></li>
                                        <li><a href="#!compare">Compare ({{compare.length}})</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="#!fqa">FQA</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-7">
                            <div class="widgets_container product_widget">
                                <h3>Top Rated Products</h3>
                                <div class="simple_product" ng-controller="ratedCtrl">
                                    <div class="simple_product_items" ng-repeat="rated in ratedlist">
                                        <div class="simple_product_thumb">
                                            <a href="#!product-details/{{rated.id}}"><img ng-src="{{rated.img1}}" alt=""></a>
                                        </div>
                                        <div class="simple_product_content">
                                             <div class="tag_cate">
                                                <a href="#!{{rated.type}}">{{rated.type}},</a>
                                                <a href="#!{{rated.stone}}">{{rated.stone}}</a>
                                            </div>
                                            <div class="product_name">
                                                <h3><a href="#!product-details/{{rated.id}}">{{rated.name}}</a></h3>
                                            </div>
                                            <div class="product_price">
                                                <span class="old_price">{{rated.oldprice | currency: '$' :0}}</span>
                                                <span class="current_price">{{rated.price | currency: '$' :0}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="footer_bottom">
               <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>&copy; 2022 <a href="index.html" class="text-uppercase">Rock Paradise</a>. Made with <i class="fa fa-heart"></i> by <a  href="#">Aptech</a></p>
                            <img src="assets/img/icon/papyel2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </footer>
    <!--footer area end-->
   
    
    <!--news letter popup start-->
     <div class="newletter-popup">
        <div id="boxes" class="newletter-container">
            <div id="dialog" class="window">
                <div id="popup2">
                    <span class="b-close"><span>close</span></span>
                </div>
                <div class="box">
                    <div class="newletter-title">
                        <h2>Newsletter</h2>
                    </div>
                    <div class="box-content newleter-content">
                        <label class="newletter-label">Enter your email address to subscribe our notification of our new post &amp; features by email.</label>
                        <div id="frm_subscribe">
                            <form name="subscribe" id="subscribe_popup">
                                    
                                    <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail" placeholder="Enter you email address here...">
                                    <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                                    <div id="notification"></div>
                                    <a class="theme-btn-outlined" onclick="email_subscribepopup()" id="mc-submit"><span>Subscribe</span></a>
                            </form>
                            <div class="subscribe-bottom">
                                <input type="checkbox" id="newsletter_popup_dont_show_again">
                                <label for="newsletter_popup_dont_show_again">Don't show this popup again</label>
                            </div>
                        </div>
                        <!-- /#frm_subscribe -->
                    </div>
                    <!-- /.box-content -->
                </div>
            </div>

        </div>
        <!-- /.box -->
    </div>
 <!-- Location start -->
 <div class="location">
    <div id="date-time"></div>
    <div id="location" ></div>
</div>
    
    
<!-- JS
============================================ -->

<!-- Plugins JS -->

    <!-- Main JS -->
    
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script> 
        <script src="assets/js/map.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/home.js"></script>
        <script src="assets/js/shopall.js"></script>
        <script src="assets/js/product-class.js"></script>
        <script src="assets/js/product-details.js"></script>
        <script src="assets/js/cart.js"></script>
        <script src="assets/js/new-prd.js"></script>
        <script src="assets/js/paginate-filter.js"></script>
        <script src="assets/js/top-sell.js"></script>
        <script src="assets/js/blog.js"></script>
        <script src="assets/js/others.js"></script>
    </body>
</html>