
<div>
  <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Top Selling</h3>
                        <ul>
                            <li><a href="#!/">home</a></li>
                            <li>></li>
                            <li>Top Selling</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--shop  area start-->
    <div class="shop_area shop_fullwidth shop_reverse">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar">
                        <div class="list_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a  data-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="ion-grid"></i></a>
                                </li>
                                <li>
                                    <a  class="active" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="ion-ios-list-outline"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="orderby_wrapper">
                            <h3>Sort By : </h3>
                            <div class=" niceselect_option">

                                <form class="select_option" action="#">

                                    <select name="orderby" id="short" class="form-select" ng-model="sortProduct">
                                        <option selected value="name">Sort by Name: A-Z</option>
                                        <option value="-name">Sort by Name: Z-A</option>
                                        <option  value="price">Sort by Price: Low to High</option>
                                        <option value="-price">Sort by Price: High to Low</option>
                                        <option value="-rating">Sort by Use Rating</option>
                                    </select>
                                </form>


                            </div>
                            <div class="page_amount">
                                <p>Showing 12 of {{topList.length}} results</p>
                            </div>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <!--shop tab product start-->
                     <div class="tab-content">
                        <div class="tab-pane grid_view fade " id="large" role="tabpanel" >
                            <div class="row" >
                               <div class="col-lg-3 col-md-4 col-sm-6 product-style"ng-repeat="top in topList | paginate:currentPage:pageSize | orderBy:sortProduct">
                                    <div class="single_product">
                                        <div class="product_thumb">
                                            <a class="primary_img" href="#!product-details/{{top.id}}"><img ng-src="{{top.img1}}" alt=""></a>
                                            <a class="secondary_img" href="#!product-details/{{top.id}}"><img ng-src="{{top.img2}}" alt=""></a>
                                        </div>
                                        <div class="product_content">
                                            <div class="tag_cate">
                                                <a href="#!{{top.type}}">{{top.type}},</a>
                                                <a href="#!{{top.stone}}">{{top.stone}}</a>
                                            </div>
                                            <h3><a href="#!product-details/{{top.id}}">{{top.name}}</a></h3>
                                            <div class="price_box">
                                                <span class="old_price">{{top.oldprice | currency :'$':0}}</span>
                                                <span class="current_price">{{top.price | currency :'$':0}}</span>
                                            </div>
                                            <div class="product_hover">
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li>{{top.rating}}<a href="#!product-details/{{top.id}}"><i class="ion-ios-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="product_desc">
                                                    <p>{{top.overview}}</p>
                                                    <p style="color: #c09578;">{{top.sale}}</p>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li><a href="" data-placement="top" title="Add to Wishlist" data-toggle="tooltip" ng-click="addItemtoWish(top)" class="btn-add-to-wishlist"><span class="icon icon-Heart"></span></a></li>
                                                        <li class="add_to_cart"><a href="" title="Add to cart" ng-click="addItemToCart(top)" class="btn-add-to-cart">add to cart</a></li>
                                                       <li><a href="" data-placement="top" title="" data-toggle="tooltip" ng-click="addItemToCompare(top)"><span class="ion-ios-settings-strong"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane list_view fade show active" id="list" role="tabpanel">
                           <div class=" product_list_item">
                               <div class="row single_product" ng-repeat="top in topList | paginate:currentPage:pageSize | orderBy:sortProduct | filter: txtsearch">
                                   <div class=" col-lg-4 col-md-5">
                                       <div class="product_thumb">
                                            <a class="primary_img" href="#!product-details/{{top.id}}"><img ng-src="{{top.img1}}" alt="" width="300px" height="300px"></a>
                                            <a class="secondary_img" href="#!product-details/{{top.id}}"><img ng-src="{{top.img2}}" alt="" width="300px" height="300px"></a>
                                        </div>
                                   </div>
                                   <div class="col-lg-8 col-md-7">
                                        <div class="product_content">               
                                          <h3><a href="#!product-details/{{top.id}}">{{top.name}}</a></h3>
                                            <div class="product_ratings">
                                                <ul>
                                                    <li>{{top.rating}}<a href="#!product-details/{{top.id}}"><i class="ion-ios-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product_desc">
                                                <p>{{top.overview}}</p>
                                            </div>
                                           <div class="price_box">
                                                <span class="old_price">{{top.oldprice | currency :'$':0}}</span>
                                                <span class="current_price">{{top.price | currency :'$':0}}</span>
                                                <p style="color: #c09578;">{{top.sale}}</p>
                                            </div>

                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart"><a href="" title="Add to cart" ng-click="addItemToCart(top)" class="btn-add-to-cart">add to cart</a></li>
                                                    <li><a href="" title="Wishlist" class="btn-add-to-wishlist"><span class="icon icon-Heart" ng-click="addItemtoWish(top)"></span></a></li>

                                                    <li><a href="" data-placement="top" title="" data-toggle="tooltip" ng-click="addItemToCompare(top)"><span class="ion-ios-settings-strong"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                            <!--shop toolbar start-->
                            <div class="shop_toolbar t_bottom">
                                <ul uib-pagination boundary-links="true" total-items="productList.length" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="pageSize"></ul>
                            </div>
                            <!--shop toolbar end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
